<div class="card">
  <div class="card-body">
    <div>
      <textarea [(ngModel)]="description" name="" id="" cols="50" rows="4" placeholder="¿Qué tienes en mente?"></textarea>
    </div>
    <div class="d-flex bd-highlight mb-2 align-items-center">
      <div class="section-logo mr-auto p-2 bd-highlight">
        <select [(ngModel)]="privacity" id="privacitymenu">
          <option [value]="defaultPrivacity" selected="selected">{{defaultPrivacity}}
          </option>
          <option *ngFor="let font of items.slice(1)" [value]="font">{{font}}
          </option>
        </select>
        <!-- <select class="selectpicker">
          <option value="public">Público</option>
          <option value="private">Privado</option>
        </select> -->
      </div>
      <div>
        <button type="button" class="btn btn-primary" (click)="createPost()">Publicar</button>
      </div>
    </div>
  </div>
</div>
