<div class="card">
  <div class="card-body  px-0 pb-0">
    <div>
      <textarea [(ngModel)]="description" name="" id="" cols="50" rows="4" placeholder="¿Qué tienes en mente?"></textarea>
      <div>
        <img *ngIf="currentImg" src="{{currentImgSrc}}" class="rounded description-photo">
      </div>
    </div>
    <div class="py-1 col-12 d-flex bd-highlight mb-2 align-items-center border-top">
      <div class="section-logo mr-auto p-2 bd-highlight">
        <select [(ngModel)]="privacity" id="privacitymenu">
          <option *ngFor="let font of items" [value]="font">{{font}}</option>
        </select>
      </div>
      <div>
        <label for="photo"><img src="../../../assets/photo.png"></label>
        <input id="photo" type="file" class="d-none" (change)="addImg($event)">
        <button type="button" class="btn sky-color" (click)="createPost()">Publicar</button>
      </div>
    </div>
  </div>
</div>
