.spaces-vertical {
  margin: 20px 0;
}

.spaces-horizontal {
  margin: 0 20px;
}

.colornotlike {
  background-color: #2b485d;
  color: white;
}

.profilepicture {
  width: 65px;
  height: auto;
}

textarea {
  /* border: none; */
  width: 100%;
  resize: none;
  padding: 15px;
  font-size: 16px;
  outline: none;
}
