<!-- para publico -->
<div class="card border-info spaces-vertical">
  <h5 class="card-header card-title">Anaflavia Díaz</h5>
  <div class="card-body">Aquí hay texto</div>
  <div class="card-footer text-muted">0
    <button type="button" class="btn btn-default spaces-horizontal">
      <span class="glyphicon glyphicon-star" aria-hidden="true">Like</span>
    </button>
  </div>
</div>

<!-- personal -->
<div class="card border-info spaces-vertical">
  <h5 class="card-header card-title">Yulissa Terán</h5>
  <div class="card-body">Aquí hay otro texto</div>
  <div class="card-footer text-muted">0
    <button type="button" class="btn btn-default spaces-horizontal">
      <span class="glyphicon glyphicon-star" aria-hidden="true">Like</span>
    </button>
    <button type="button" class="btn btn-default spaces-horizontal">
      <span class="glyphicon glyphicon-star" aria-hidden="true">Editar</span>
    </button>
    <button type="button" class="btn btn-default spaces-horizontal">
      <span class="glyphicon glyphicon-star" aria-hidden="true">Eliminar</span>
    </button>
  </div>
</div>
