<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 p-0 d-none d-md-block">
      <div class="row">
        <img class="  height-full" src="https://scontent.flim6-1.fna.fbcdn.net/v/t1.15752-9/41965131_2356789807680715_6213257779549831168_n.png?_nc_cat=0&_nc_eui2=AeGJPDCnminP8D0UIuOcqo_IeEfU_aZDv4vx9dn7dsjLmPNrJsO7Z2421tifsjT80h5J7iXSKCU6KG4tD-WBLs6w5WAc6r1zvOTZVGKbkaUZ5Q&oh=cbafef5a652d45a87dc4924b1e6128c2&oe=5C23051C"
          alt="init">
      </div>
    </div>
    <div class="col-12 col-md-6 main-color">
      <div class=" row d-flex align-items-center justify-content-center height-full">
        <div class="col-11 col-sm-6 col-md-8 my-auto">
          <div class="row ">
            <img src="https://scontent.flim6-1.fna.fbcdn.net/v/t1.15752-9/41880598_596385507430907_7710663114726834176_n.png?_nc_cat=0&_nc_eui2=AeGPklKwmR4EYL1r5urHf1U8zHQd9qEthdIOLzZIC-kjoAoqGorkvx_ktNljKIRw6A8nB2AnehLBqR8qbSx5USm0l_qCq5WLfxwQvavv0r6WBA&oh=b53cac9f01961a5a8a2c9334e544dedf&oe=5C36E572"
              alt="logo" class="mx-auto">
          </div>
          <form class="">
            <div class="row d-flex justify-content-center mb-2">
              <div class="col-12 text-center">
                  <span class="text-center">Regístrate para ver las novedades tecnológicas que comparten tus amigos</span>
              </div>
            </div>
            <div class="row d-flex justify-content-center ">
              <div class="col-12 mb-3">
                <button id="btn-facebook" class="btn main-btn btn-block py-2 text-white" (click)="facebookAccount()">
                  <i class="fab fa-facebook-f mr-2"></i>
                  <span>Iniciar con Facebook</span>
                </button>
              </div>
              <div class="col-12 mb-3">
                <button id="btn-google" class="btn main-btn btn-block py-2 text-white" (click)="googleAccount()">
                  <i class="fab fa-google mr-2"></i>
                  <span>Iniciar con Google</span>

                </button>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1"><small class="font-weight-bold">Nombre</small></label>
              <input type="text" class="bakground-input" name="name" [(ngModel)]="name" aria-describedby="emailHelp" placeholder="Ingresa tu nombre">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1"><small class="font-weight-bold">Correo Electrónico</small></label>
              <input type="email" class="bakground-input" name="email" [(ngModel)]="email" aria-describedby="emailHelp" placeholder="Ingresa tu correo electrónico">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1"><small class="font-weight-bold">Contraseña</small></label>
              <input type="password" class="bakground-input" name="password" [(ngModel)]="password" placeholder="Ingresa tu contraseña">
            </div>
            <div class="alert alert-warning alert-dismissible fade show text-center" role="alert" *ngIf="wrongForm === true">
              {{messageWrong}}
            </div>
            <div class="row d-flex justify-content-center">
              <div class="col-12 ">
                  <button type="button" class="btn  main-btn btn-block text-white" (click)="validateForm()">Regístrate</button>
              </div>
            </div>
            <div class="row">
              <p class="mx-auto ">Tienes una cuenta? <a href="" routerLink="/login">Inicia Sesión</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>