<div class="row">
  <img src="../../assets/init.png" alt="init" class="col-6 d-none d-md-block padding-none height-full">
  <div class="col-12 col-md-6 main-color">
    <div class="container col-10">
      <div class="row  my-1">
        <img src="../../assets/logo.png" alt="logo" class="mx-auto">
      </div>
      <form class="">
        <div class="container">
          <p class="row d-flex justify-content-center">Regístrate para que aprendas nuevas tecnologías</p>
          <p class="row d-flex justify-content-center">Regístrate con: </p>
          <div class="row d-flex justify-content-center">
            <label class="col-2"><img class="" src="../../assets/social-btn/facebook-logo.png" alt="" (click)="facebookAccount()"></label>
            <button class="d-none"></button>          
            <label class="col-2"><img class="" src="../../assets/social-btn/google.png" alt="" (click)="googleAccount()"></label>
            <button class="d-none"></button>          
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1"><strong>Nombre</strong></label>
          <input type="text" class="bakground-input" name="name" [(ngModel)]="name" aria-describedby="emailHelp" placeholder="Ingresa tu nombre">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1"><strong>Correo Electrónico</strong></label>
          <input type="email" class="bakground-input" name="email" [(ngModel)]="email" aria-describedby="emailHelp" placeholder="Ingresa tu correo electrónico">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1"><strong>Contraseña</strong></label>
          <input type="password" class="bakground-input" name="password" [(ngModel)]="password" placeholder="Ingresa tu contraseña">
        </div>
        <div class="row">
          <button type="button" class="btn mx-auto main-btn" (click)="signup()">Regístrate</button>
        </div>
        <div class="row">
          <p class="mx-auto ">Tienes una cuenta? <a href="" routerLink="/login">Inicia Sesión</a></p>
        </div>
      </form>
    </div>
  </div>
</div>